@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Background: #143462;
    --LeftView: #7c0517;
    --Azulescuro: #3790c3;
    --text: #fafafa;
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body.dark {
    background-color: #242424;
    color: #fafafa;
    transition: 0.5s ease-in-out;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

.left {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Person-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.left form {
    height: 50%;
    width: 100%;
}

.left .form1,
.left .form2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in;
}

.left .form1 {
    right: 900px;
    height: 80%;
}

.left .form2 {
    height: 60%;
}

.form1.toggle1 {
    right: 100px;
}

.form2.toggle2 {
    right: 600px;
}

.left form .input-box {
    width: 50%;
    height: 55%;
}

.left form .title {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form1 .title h1 {
    width: 500px;
}

.left form input {
    width: 95%;
    margin-top: 10px;
    padding-bottom: 10px;
}

.left #proximo {
    position: relative;
    left: 80%;
}

.right img {
    width: 700px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#spanFinal {
    position: relative;
    left: 50%;
    color: var(--Azulescuro);
    transition: 0.3s;
}

.right #end {
    position: relative;
    top: 45%;
    left: 30%;
}
